
@media (min-width: 768px) and (max-width: 850px) {
  .search-location .searchEventsContent {
    font-size: 12px;
    color: #c3c0c0;
}
.listevent-search{
  max-width: 226px;
}
}

@media (min-width: 850px) and (max-width: 976px) {
  .search-location a {
    width: 144px;
    height: 40px;
  }

  .search-location .searchEventsContent {
    font-size: 13px;
  }

  .menuItems .createEvent {
    font-size: 14px;
    height: 40px;
    width: 159px;
  }

  .menuItems .createEvent .fontEventSize {
    font-size: 29px;
  }
}
@media (max-width: 501px) {
  .righside-parent-div{
    height: 430px;
    margin-top: 60px;
  }
.festBox6{
  flex-direction: column;
}
}

@media (max-width: 767px) {

  .imageSide img {
    border-radius: 0 10px 10px 0;
  }
  .search-location a {
    width: 40px;
    height: 31px;
    /* margin: 10px 0; */
  }
  .search-location .searchEventsContent {
    font-size: 13px;
    color: #c3c0c0;
}
  .searchEvents::placeholder {
    color: transparent;
  }

  .searchEvents {
    padding: 0;
  }

  .searchSvg {
    position: absolute;
    left: 11px;
    top: 7px;
  }

  .logoItem a img {
    width: 103px;
  }

  .header-gap {
    /* height: auto; */
    padding-top: 29px;
    padding-bottom: 22px;
  }

  .profiletk {
    height: 30px;
    width: 31px;
    background: #fff;
    color: #3265fe;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
  }

  .menuItems .dropdownBtn {
    background: #d9d9d9;
    border: none;
    color: #3265fe;
    width: 68px;
    height: 35px;
    padding: 0 1px;
    font-family: "Inter", sans-serif;
  }

  .menuItems .dropdownBtn svg {
    width: 30px;
    height: 34px;
  }

  .row-divider {
    height: auto;
  }

  #style-3 {

    overflow-y: hidden;
    height: auto;
  }

  .profile-content {
    background: #f5f5f5;
    padding: 29px 25px;
  }

  .rightAside {
    height: 100%;
    margin-left: 0px;
    padding: 59px 50px;
  }

  .booking-my {
    padding-bottom: 0px;
  }

  .leftSearch svg {
    width: 11px;
  }

  .rightLocation svg {
    width: 11px;
  }

  .festBox {
    background: #fff;
    border-radius: 10px;
    padding-left: 16px;
    max-width: 332px;
    height: 112px;
  }

  .imageSide img {
    width: 115px;
    height: 112px;
  }

  .festBox3 {
    width: 116px;
    height: 102px;
    margin: auto;
  }
  .festBoxpayment3 {
    width: 116px;
    height: 146px;
    margin: auto;
  }
}



@media (min-width: 768px) and (max-width: 850px) {
  .festBox5 {
    width: 192px;
  }
  .event-fonts {
    font-size: 17px;
}
  .profile-content {
    padding: 50px 25px;
}
  .createYoEvent {
    display: none;
  }
  .festBox3 {
    width: 100%;
  }
  .imageSide img {
    border-radius: 0 10px 10px 0;
  }
  .menuItems .createEvent {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    line-height: 48px;
    padding-left: 3px;
  }

  .search-location a {

    width: 128px;

  }

  .logoItem a img {
    width: 190px;
  }

  .row-divider {
    height: auto;
  }

  .hideMiddleScreen {
    /* display: none; */
  }

  .booking-my {
    padding-bottom: 0px;
  }

  .rightAside .proFile {
    height: 142px;
    width: 142px;
    border-radius: 50%;
    background: #D9D9D9;
    margin: auto;
    margin-bottom: 2rem;
  }

  .middleScreenBlock {
    display: block;
    margin-top: 25px;
  }

}

@media (min-width: 1000px) and (max-width: 1133px) {
.rightAside {
  height: 100%;
  margin-left: 0;
  padding: 59px 21px;
}

.profile-content {
  background: #F5F5F5;
  padding: 55px 24px;
  border-radius: 42px 42px 0 0;
}
.festBox3 {
  width: 100%;
}
}




@media screen and (min-width: 501px) {

  .megaMenuSingle {
    min-height: 100px;
}
.megaHeaderOverview {
  font-size: 14px;
}
.megaMenuSvg{
  width: 35px;
}

}

@media only screen and (max-width: 1599px){
  .festBox3{
      width: 100%;
  }
}
@media (max-width: 991px) {
  .avatar-upload .avatar-preview {
    width: 140px;
    height: 140px;
  }
  .imageSide img {
 width: 129px;
  }
  .rightAside {
    padding: 59px 39px;
  }
  .rightAside {
    margin-left: 0px;
   }
  .location-modal {
      min-width: 54px;
  }
  .righside-parent-div{
    height: 430px;
  }
   .startBrowsingHelp2{
    font-size: 11px;
    color: #F05537;
    font-weight: 600;
    margin-top: 1px;
    padding-bottom: 15px;
    text-align: center;
  }
  .festbox3-up{
    width: 50%;
    transition: 0.3s;
  }

}
@media only screen and (max-width:1095px){
  .search-location{
    margin-left: 0;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .team-tbl-management{
    overflow-x: scroll;
  }
  .v-order-p{
    width: 43%;
}
.v-order-search{
  width: 55%;
}
.v-o-text{
  font-size: 13px;
}
.v-o-text-2{
  font-size: 12px;
}
  .order-left{
    width: 100%;
}
.order-right{
  width: 100%;
}
  .cardEventBtn-org{
    /* width: 100%; */
  }
  .tabs_tabbing_event > div ,.tabs_tabbing_event  {
    width: fit-content;
  }
  .mobile-list-event{
    max-width: 100%;
    overflow-x: scroll;
    min-height: 390px;

  }
  .publish-mobile-view{
    flex-direction: column;
    align-items: start!important;
  }
  .publish-mobile-view-img{
    width: 100%!important;
  }
  .publish-mobile-view-img img{
    width: 100%!important;
    margin-top: 10px;
  }
  .publish-body .festBox .cardHead{
    font-size: 18px!important;
  }
  .publish-body .conSide .cardDesc {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .publish-body .conSide .cardTime {
    font-size: 12px;
  }
.publish-body {
    background: #fff;
    padding: 0px 0px;
    border-radius: 22px;
}
  .buytotal{
    font-size: 12px;
  }
  .h-fees-w {
    padding: 5px 10px;
    font-size: 10px;

}
  .side-menu-ticket {
    border: none;
  }
  .ul-tb-switch-ticket {
    justify-content: center!important;
    margin-left: 0!important;
  }
  .add_tick-modal-content {
    width: 90%;
  }
  .agenda-table-row {
    font-size: 13px;
  }
  .f-s-tick{
    font-size: 13px;
  }
  .agenda-table-font {
    font-size: 11px;
  }
    .agenda-box-{
      min-height: 180px;
    }
    .tickets-pr-codes {
      padding: 0;
    }
    .tick-t-box {

      padding: 21px 8px;

  }
  .circle-label {
    margin: 6px 4px;
    padding: 4px;
  }
  .agenda-modal{
    width: 100%;
  }
  .timezone-modal{
    width: 91%;;
  }
  .downArrow{
    display: block;
  }
  .downArrow2{
    display: block;
  }
  .scale-down {
    transform: scaleY(0);
  }
  .avatar-upload .avatar-edit {
    position: absolute;
    right: -5px;
    z-index: 1;
    top: 88px;
}
  .rightAside .proFile {
    height: 142px;
    width: 142px;
    border-radius: 50%;
    background: #D9D9D9;
    margin: auto;
    margin-bottom: 2rem;
  }
  .imageSide img {
    width: 124px;
}
  .org-con {
    top: 95px;
  }
  .rightAside {
   margin-left: 0px;
  }
  .paymentContainer{
    width: 100%;
  }
  .festBox6 {
    width: 100%;
    height: 90px;
  }
  .festBox6{
    flex-direction: row;
  }
  .over-outer{
    width: 48%;
  }
  .iconCir2 {
    width: 40px;
}
.iconCir3 {
  width: 91px;
}
  .eventBoxes, .rightAside {
    border: 1px solid #D0C5C5;
    border-radius: 24px;
    padding: 17px 9px;
}
.event-fonts {
  font-size: 15px;
}
  .festBox3 {
    width: 100%;
  }
  .festBox5 {
    width: 100%;
  }
  .iconCir {
    height: 50px;
    width: 50px;
  }
  .helpSvgWidth {
    width: 22px;
}
.startBrowsingHelp {
  font-size: 13px;
}
.imageSide img {
  /* height: 97px; */
  height: 124px;
}
.eventBoxHeading {
  font-weight: 500;
  font-size: 17px;
}
.conSide h4 {
  padding-top: 1px;
  font-size: 14px !important;
  margin-bottom: 2px;
}
.ticket-ui .conSide h4 {
  padding-top: 1px;
  font-size: 16px !important;
  margin-bottom: 2px;
}
.conSide .cardTime {
  font-size: 11px;
  line-height: 10px;
}
.festBox {
  height: 103px;
  width: 100%;
  padding-left: 6px;
}
.profile-content {
  background: #f5f5f5;
  padding: 0px 7px;
}
.notificationIcon {
  margin: 0;
}
.notificationIconCount {
  right: -2px;
}
.cardEventBtn-org{
  font-size: 10px;
  /* border-radius: 8px; */
  transition: 0.3s;
  /* padding-left: 4px;
  padding-right: 4px; */
}
.cardEventBtn-org2{
  font-size: 10px;
  border-radius: 8px;
  border-color: #0066FF;
  transition: 0.3s;
  padding-left: 4px;
  padding-right: 4px;


}
.rightAside .proFile {
  top: -70px;
}

  .righside-parent-div {
      height: 230px; /* Height for mobile screens */
      transition: height 0.5s ease; /* Optional: for smooth transition */
  }
  .righside-parent-div.expanded {
      height: 430px; /* Height when expanded on mobile screens */
  }
  .righside-parent-div-attendee {
    height: 230px; /* Height for mobile screens */
    margin-top: 62px;
    transition: height 0.5s ease; /* Optional: for smooth transition */
    height: 230px;
}
.righside-parent-div-attendee.expanded {
    height: 160px; /* Height when expanded on mobile screens */
}
}

@media (min-width: 501px) and (max-width: 767px) {
  .righside-parent-div {
    height: 430px;
    margin-top: 75px;
  }
}
@media (min-width: 0px) and (max-width: 950px) {
  .style-3-ticket{
    background: none!important;
  }
  .profile-content-ticket {
    background: none!important;
    /* padding-top: 0!important; */
  }

  
    .faq-modal{
      width: 95%;
    }
    .fancy-box {
      border: 1px solid #ACACAC;
      border-radius: 32px;
      padding: 20px 12px;
  }
  .form-create-event {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 0px 1px 1px #ccc;
    padding: 19px 8px;
}
.profile-content {
  background: #f5f5f5;
  padding: 25px 7px;
}
.m-dev-f{
  font-size: 13px;
}

}
@media (min-width: 600px) and (max-width: 950px) {
  .profile-content {
      padding: 48px 7px;
  }
}

@media (min-width: 0px) and (max-width: 345px) {
.profile-content {
  background: #f5f5f5;
  padding: 25px 1px;
}
.padding-0{
  padding: 0;
}
}